@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://172.25.194.30" target="_blank" rel="noreferrer">Vest-Fiber</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>